#
# PROTON VPN
#

# REQUIRED VARIABLES
# Available in the admin panel
PROTONVPN_USERNAME=OpenVPN username
PROTONVPN_PASSWORD=OpenVPN password

# OPTIONAL VARIABLES
# Image version by default latest
# Avoid to do so, specify a version
PROTONVPN_VERSION=latest
# Server type or country by default P2P
PROTONVPN_SERVER=P2P
# ProtonVPN Tier 
PROTONVPN_TIER=3
# Exclude your local network if you would like to access to transmission
PROTONVPN_EXCLUDE_CIDRS=192.168.1.0/24

#
# TRANSMISSION
#
# Avoid file system persmissions issues
# Set with the same ids on host
# See: https://github.com/linuxserver/docker-transmission#user--group-identifiers
# User Id
TRANSMISSION_PUID=1000
# Group Id
TRANSMISSION_PGID=1000
# Specify a timezone
TRANSMISSION_TZ=Europe/London
# Transmission web admin auth
TRANSMISSION_USER=
TRANSMISSION_PASSWORD=
# Transmission download directory (by default 'downloads' in the current directory)
TRANSMISSION_DOWNLOADS=downloads
# Transmission download directory (by default 'config' in the current directory)
TRANSMISSION_CONFIG=config
